@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";



@theme {
  --color-bg: #000000;
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #919191;
  --font-inter: 'Inter';
  --color-gradient-btn: linear-gradient(-112deg, rgba(236, 93, 205, 0.1) 0%, rgba(180, 55, 222, 0.67) 47%, rgba(236, 93, 205, 0.1) 100%);
  --inset-shadow-card: inset 0px -10px 6px rgba(255, 113, 170, 0.2), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
}

html {
  scroll-behavior: smooth;
  width: 100vw;
  overflow-x: hidden;
  background-color: var(--color-bg);
  color: var(--color-text-primary);
  font-family: var(--font-inter);
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  
  .bg-gradient-btn {
    background-image: var(--color-gradient-btn);
    box-shadow: inset 0px -4px 4px rgba(255, 113, 170, 0.2),
      inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    transition: all 0.3s ease-in-out;
  }

  .bg-gradient-btn:hover {
    background-image: var(--color-gradient-btn);
    box-shadow: inset 0px -4px 4px rgba(255, 113, 170, 0.4),
      inset 0px 4px 4px rgba(255, 255, 255, 0.5);
  }

  .abs-center {
    @apply absolute md:top-1/2 md:left-1/2 transform md:-translate-x-1/2 md:-translate-y-1/2;
  }
}

@layer components {
  #navbar {
    @apply flex justify-center px-7 h-full md:pt-2 items-center md:px-[500px];

    div {

      div {

        a{
          @apply hover:text-gray-400 hover:-translate-y-0.5 transition-all duration-300 ease-in-out;
        }
      }

      button {
        @apply cursor-pointer hover:-translate-y-0.5 transition-all duration-300 ease-in-out
      }
    }

  }

  #hero {
    @apply flex w-full;
  }

  #video-scroll {
    @apply flex items-center relative justify-center w-full py-6 px-40;
    
    .box {
      @apply max-w-xs absolute z-50;

    }
  }

}