@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";



@theme {
  --color-bg: #000000;
  --color-text-primary: #FFFFFF;
  --color-text-secondary: ##919191;
  --font-inter: 'Inter';
}

html {
  scroll-behavior: smooth;
  width: 100vw;
  overflow-x: hidden;
  background-color: var(--color-bg);
  color: var(--color-text-primary);
  font-family: var(--font-inter);
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .abs-center {
    @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
  }
}

@layer components {
  #navbar {
    @apply flex justify-center px-7 md:pt-2 items-center md:px-[500px];

    div {

      div {

        a{
          @apply hover:text-gray-400 hover:-translate-y-0.5 transition-all duration-300 ease-in-out;
        }
      }

      button {
        @apply cursor-pointer hover:-translate-y-0.5 transition-all duration-300 ease-in-out
      }
    }

  }
}